
/* Header Style */
.nav-wrapper {
    background: rgba(0,0,0,0.8);
    font-size: 0.85em;
    font-weight: 200;
  }
  .nav-wrapper ul li a {
      color: #fff;
  }
  .navbar-toggler {
      color: #fff;
  }
  .nav-item {
      text-align: left !important;
      padding: 4px 0;
      border-bottom: 1px solid #4b4b4b;
  }

  
/* Alert section */
.alert-section {
	text-align: center;
	padding: 20px;
}
.alert-title {
	font-weight: 600;
	color: #1d1d1f;
	padding: 10px;
}
.alert-text {
	max-width: 90%;
	margin: 0 auto;
}

/* Media Query */
@media (min-width: 768px) {
	/*Nav bar*/
	.nav-item {
		text-align: center !important;
		padding: 0;
		border-bottom: 0px;
	}
    /*Alert section*/
	.alert-text {
		max-width: 85%;
		margin: 0 auto;
	}
}
  