
/*Second section*/
.second-hightlight-wrapper {
	background-image: url("../../../CommonResources/images/home/macbookair-new-sm.jpg");
	height: 580px;
	background-position: bottom;
	background-repeat: no-repeat;
  background-size: initial;
  background-color: #fbfbfd;
	text-align: center;
	padding: 65px 20px;
	color: #fff;
	margin-bottom: 10px;	
}
/* Media Query */
@media (min-width: 768px) {
	/* Second section */
	.second-hightlight-wrapper {
		min-height: 692px;
		background-image: url("../../../CommonResources/images/home/macbookair-new.jpg");
		
	}
	.new-alert {
		color: #BF4801;
		font-size: 18px;
	}
	.title-wraper.bold {
		font-size: 56px;
	  }
}
