
/*Sixth Section*/
.sixth-heghlight-wrapper .left-side-wrapper .left-side-container{
	background-image:  url("../../../CommonResources/images/home/spyder.jpg"); 
	background-color: #000;
	background-position: bottom;
	padding-top: 35px;
	margin: 0 0 10px 0;
	background-size: cover;		
}
.sixth-heghlight-wrapper .right-side-wrapper .right-side-container{
	background-image:  url("../../../CommonResources/images/home/apple-card-monthly.jpg"); 
	background-color: #fbfbfd;
	background-position: bottom;
	padding-top: 20px;
	margin: 0 0 10px 0;
	background-size: auto;	
}
.sixth-heghlight-wrapper .links-wrapper {
	max-width: 300px;
	margin: 0 auto;
	padding: 0;
}
.sixth-heghlight-wrapper .description-wraper {
	max-width: 300px;
	margin: 6px auto;

}
.left-side-wrapper .description-wraper{
	color: #fff;
}
/*Media Query*/

@media (min-width: 768px) {	
	
	/*Sixth section*/
	.sixth-heghlight-wrapper .left-side-wrapper .left-side-container {
	    margin: 5px 5px 10px 10px;
	}
	.sixth-heghlight-wrapper .right-side-wrapper .right-side-container {
	    margin: 5px 10px 10px 5px;
	}	
	.sixth-heghlight-wrapper .links-wrapper {
	    max-width: 500px;
		padding: 10px 0;
	} 
	.title-wraper.bold {
		font-size: 56px;
	  }
}
